{% extends "layout.html" %}
{% block title %}edit {% endblock %}
{% block body %}
<link rel="stylesheet" href="static/css/style.css" />
<link rel="stylesheet" href="static/css/editormd.css" />

<div class="pure-g">
    <div class="pure-u-5-5">
        <a class="pure-button" href="/list">Go back</a>
        <label id="path">{{path}}</label>
        <input type="text" name="filename" id="filename" value="{{fn}}">
        <a class="pure-button" href="#" onclick="save_file();">Save</a>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-5-5">
		<div id="test-editormd">
	        <textarea style="display:none:">{{ctt}}</textarea>
		</div>
    </div>
</div>

<style>
#path { padding: .3em .8em; vertical-align: middle; }
#filename { padding: .3em .8em; vertical-align: middle; }
#msg-notifier { position: absolute; bottom: 10px; right: 10px; opacity: .8; 
    width: 150px; height: 32px; line-height:32px; text-align: center;}
#msg-notifier p { margin: 0; padding: 0; line-height: 32px; }

</style>
<div id="msg-notifier">
</div>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/editormd.min.js"></script>
 
<script type="text/javascript">
var testEditor;
var path = '{{path}}';

$(function() {
    testEditor = editormd("test-editormd", {
        width   : "100%",
        height  : 640,
        syncScrolling : true,
        path    : "static/js/",
        //theme : "dark",
        //previewTheme : "dark",
        //editorTheme : "pastel-on-dark",

        tex : true,
        flowChart : true,
        sequenceDiagram : true,
        emoji : true,
        taskList : true

    });
});

function show_msg(msg) {
    $('#msg-notifier').html(msg);
}

function save_file() {
    var fn = $('#filename').val();
    var ctt = testEditor.getMarkdown();
    // UI effect here
    show_msg('Saving ...');

    // Send data to server
    $.post(
        '/save',
        {p: path, f:fn, c:ctt},
        function(data){
            // callback
            show_msg('Saved!');
        },'json'
    );
}
</script>

{% endblock %}
