{% extends "layout.html" %}
{% block title %}at {% endblock %}
{% block body %}
<div class="pure-g">
    <div class="pure-u-5-5">
        {{path}}
        <button class="pure-button" onclick="create_new_file();">Write New</button>
    </div>
</div>

<table class="pure-table pure-table-horizontal" width="100%">
    <thead>
        <tr>
            <th>Type</th>
            <th>Filename</th>
            <th>Size</th>
            <th>Datetime</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file[2] }}</td>
            <td>
                {% if file[2]=='file' %}
                <a title="edit {{ file[0] }}" href="/edit?a=edt&p={{ file[1] }}&f={{ file[0] }}">{{ file[0] }}</a>
                {% else %}
                {{ file[0] }}
                {% endif %}
            </td>
            <td>{{ file[3] }}</td>
            <td class="dts">{{ file[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
function create_new_file() {
    location.href = '/edit?p={{path}}&f=untitled.md&a=new';
}

function to_local_time(ts) {     
    return new Date(parseInt(ts) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');     
}

$(document).ready(function(){
    $('.dts').each(function(){
        var ts = $(this).text();
        $(this).html(to_local_time(ts));
    });
});
</script>
{% endblock %}
